:root {
  --color-main: #f58612;
  --color-secondary: #222;
  --color-white: #f9fafc;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

  background-color: var(--color-white);
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--color-white);
}
h2 {
  margin: 0;
  color: var(--color-main);
  font-size: 1.5rem;
}

.main-bg {
  background-color: var(--color-main);
}
.secondary-bg {
  background-color: var(--color-secondary);
}

#main {
  height: 33vw;
  min-height: 400px;
  padding-top: 4rem;
  background: linear-gradient(
    to bottom,
    var(--color-main) 70%,
    var(--color-white) 70%
  );
}

.main-card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.403);
}
#menu {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
#menu nav {
  position: absolute;
  background-color: var(--color-secondary);

  width: 100%;
}
#menu ul {
  padding: 0;
  padding-left: 10%;
}

#menu li {
  display: inline-block;
  list-style: none;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
#menu li a {
  margin: 0.5rem 0.5 0.5rem 0.5rem;
  padding-right: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-white);
}

#menu li:not(:last-child) a {
  border-right: var(--color-white) 1px solid;
}

.content {
  text-align: center;
}

.content > div {
  height: auto;
}
.main-card h1 {
  margin-top: 6rem;
}
.main-left {
  text-align: center;
}

#bob {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 3%;
  margin-top: 10%;
  margin-bottom: 5%;
  max-height: 276px;
}

.card {
  color: var(--color-white);
  background-color: var(--color-secondary);
  margin: 0 1rem;
  padding: 3rem;
}
.reviews {
  color: #ffbf00;
  font-size: 1.5rem;
}
.card:nth-child(even) {
  background-color: var(--color-main);
}
.card:nth-child(even) h2 {
  color: var(--color-secondary);
}

.cerf {
  text-align: center;
  padding: 0.5rem;
  display: flex;
}
.cerf i {
  font-size: 3rem;
  color: var(--color-secondary);
}
#about .title h2 {
  color: var(--color-white);
}
#about .title h1 {
  color: var(--color-secondary);
}
.degree {
  color: var(--color-secondary);
  font-weight: bold;
}
#about .sub-title h1 {
  color: var(--color-secondary);
  margin-top: 1.5rem;
}
#about .sub-title {
  border-bottom: 1px solid var(--color-white);
  width: 100%;
  margin-bottom: 1rem;
}
#about .title,
#about .sub-title {
  text-align: center;
}
#about .sub-title h1 {
  padding-bottom: 1rem;
}
.cerf-item {
  display: flex;
}
.cerf-item:not(:first-child) {
  margin-left: 2rem;
}

.cerf p {
  margin: 0;
}

@keyframes slide-right {
  0% {
    transform: translateX(2rem) translateY(-0.5rem);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-2rem) translateY(-0.5rem);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

#experience {
  text-align: center;
}
#experience p {
  margin: 0;
}
#experience .title p:nth-child(3) {
  color: var(--color-main);
}
#experience .title h1 {
  margin-bottom: 1rem;
}

#experience-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
}
.experience-item {
  position: relative;
  margin-top: 2.5rem;
}
.experience-item .container {
  padding: 2rem;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-main);
}
.experience-icon {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.counter-item i,
.experience-icon i {
  padding: 0.8rem;
  font-size: 2rem;
  background-color: var(--color-white);
  color: var(--color-main);
  border-radius: 20%;
}

.row:nth-child(2) .card:nth-child(2) {
  background-color: var(--color-secondary);
}

#contact .title > p {
  color: var(--color-main);
}
#contact {
  padding-bottom: 7rem;
}

form textarea,
form input {
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid var(--color-main);
  margin-bottom: 0.5rem;
}

form textarea {
  max-width: 100%;
}

form button {
  margin-top: 2rem;
  background-color: var(--color-main);
  color: var(--color-secondary);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  float: right;
  font-size: 1rem;

  width: 100%;
}
form textarea:focus,
form input:focus {
  outline: none;
}

.collapse {
  background: var(--color-secondary);
  border: none;
  border-bottom: 1px solid var(--color-main);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  width: 100%;
  padding: 0.5rem;
}
.collapse i {
  margin-right: 1rem;
}
.collapse-content {
  color: var(--color-white);
  text-align: left;
  border-bottom: 1px solid var(--color-main);
  padding: 0.5rem;
  display: none;
}

#collapse-open {
  display: block;
}
.counter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
#counter .title h1 {
  color: var(--color-secondary);
}
.counter-container * {
  width: 100%;
  align-self: center;
  margin: 0;
  margin-left: 1rem;
}

.counter-container p {
  font-weight: 500;
  font-size: 1.2rem;
}
.counter-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.counter-item {
  margin-top: 1rem;
  display: flex;
}

#team .title h1 {
  color: var(--color-main);
}

#card-section {
  margin-top: 15rem;
}

.main-left h1 {
  padding-top: 1rem;
}

/* PC */

@media (min-width: 768px) {
  section > div {
    min-width: 750px;
  }
  #menu ul {
    margin: 0;
  }
  #menu li {
    margin: 1rem 0.5rem 1rem 0.5rem;
  }
  #bob {
    width: 80%;
    height: auto;
    align-self: flex-end;
    margin-right: 10%;
    margin-left: 10%;
    max-height: none;
  }
  #card-section {
    margin-top: 0;
  }

  .row {
    position: relative;
    width: 80%;
    height: 15rem;
    margin: 0 auto;
  }

  .card {
    position: absolute;
    width: 55%;
    height: 10rem;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.503);
    transition: 1s;
  }
  .main-left {
    width: 55%;
  }
  #menu li:first-child {
    padding-left: 1rem;
  }
  .row:nth-child(2) .card:last-child {
    height: 16rem;
  }

  .row:nth-child(3) .card:first-child {
    height: 26rem;
  }
  .card:hover {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.703);
    transition: 1s;
  }

  .row:first-child .card .title {
    grid-row: span 2;
  }

  .row:first-child .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
  }

  .row {
    transition: opacity 1s ease;
  }

  .row:nth-child(3) .card:last-child {
    width: 50%;
  }
  .card:nth-child(odd) {
    animation: slide-right ease 1s forwards;
    top: calc(var(--y) * 8rem);
    right: calc(var(--x) * -3rem);
    z-index: 1;
  }

  .card:nth-child(even) {
    animation: slide-left ease 1s forwards;
    bottom: calc(var(--y) * 2rem);
    left: calc(var(--x) * -3rem);
    background-color: var(--color-main);
  }
  #about .title,
  #about .sub-title {
    text-align: left;
    margin-top: 0;
  }
  #team {
    height: 15rem;
  }
  .content {
    display: flex;
  }
  #about .sub-title h1 {
    padding-bottom: 0rem;
  }
  .main-right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(
      to right,
      var(--color-main) 70%,
      var(--color-secondary) 70%
    );
  }
  .experience-item {
    margin-top: 0;
  }
  #team {
    width: 40%;
    height: 18rem;
  }
  #counter {
    height: 15rem;
    min-width: 575px;
  }
  .cerf {
    width: 70%;
  }

  .main-card {
    width: 60%;
  }
}
@media (max-width: 594px) {
  .counter-content {
    display: block;
  }
}
@media (max-width: 470px) {
  .cerf,
  #experience-content {
    display: block;
  }
  .cerf-item:not(:first-child) {
    margin-left: 0;
    margin-top: 1rem;
  }
  #about .container {
    text-align: center;
    width: 100%;
  }
}
